body {
    background-color: #e1f9f1;
}

.container {
    margin-top: 8%;
}

.navbar {
    background-color: #131954;
}

.cursor-like {
    cursor: pointer;
}

textarea.form-control {
    height: 120px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 22%;
    }
}
    
/*
#3483EB (Blue)
#43BCCD (Turquoise)
#A2D729 (Lime Green)
#9E9E9E (Medium Gray)
#3F3F3F (Dark Gray)
These colors provide a calming and balanced color scheme with shades of blue, green, and gray. 
You can use them for various elements such as backgrounds, headings, buttons, or any other design elements on your HTML page. 
Feel free to adjust the shades or experiment with different combinations to achieve the desired look and feel for your webpage.
*/

